
@media screen and (max-width: 768px) {
   .home{
    border-radius: 0px 0px 120px 120px;
    >main h1{
      font-size: 5rem;
    }
    &::before{
      border-radius: 0px 0px 120px 120px;
    }
   }
   .home2{
    display: flex;
    flex-direction: column;
    > img{
      margin-top: 100px;
    }
    > div{
      width: 90%;
      padding: 1rem;
    }
  }
   .home3{
     height: 100vh;
     margin-top: -10px;
     > div{
        height: 90vh;
        width: 70%;
        padding: 1rem;
        > p{
            font-size: 16px;
            padding: 2rem;
        }
     }
    
   }
   .home4 {
    height: 110vh;
   > div{
      width:80%;
      height: 80vh;
   }
  }
  .contact{
    height: 100vh;
    width: 100%;
    > main{
      height: 80vh;
      width: 80%;
      padding: 1rem;
      h1{
        text-align: center;
      }
      > form{
        margin: 3rem 1rem;
        > div{
          height: 1.5rem;
          width: 100%;
          > label{
            font-size: 1rem;
            width: 20%;
          }
          > input{
            font-size: 13px;
            padding: 1rem 2rem 1rem 2rem;
            width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
    .home{
      border-radius: 0px 0px 100px 100px;
      >main h1{
      font-size: 4rem;
     }
      &::before{
      border-radius: 0px 0px 100px 100px;
    }
    }
    .home2 > img{
        margin-top: 150px;
    }
    .home3{
      height: 120vh;
      > div{
         height: 110vh;
         width: 75%;
         > p{
             font-size: 15px;
         }
      }
     
    }
    .home4 {
      height: 90vh;
     > div{
      height: 80vh;
     > article{
      margin: 1.5rem 0px;
      > div{
      width: 7rem;
      height: 7rem;
      svg{
        font-size: 2.5rem;
      }
      p{
        font-size: 1rem;
      }
    }
  }
     }
    }
    .contact{
      height: 100vh;
      width: 100%;
      > main{
        height: 70vh;
        width: 90%;
        padding: 1rem;
        border-radius: 5px;
        > form{
          margin: 3rem 1rem;
          > div{
            height: 1.5rem;
            width: 100%;
            > label{
              font-size: 0.8rem;
              width: 20%;
            }
            > input{
              font-size: 12px;
              padding: 1rem 2rem 1rem 2rem;
              width: 80%;
            }
          }
        }
      }
    }
    .footer{ 
    > div{

     > h1{
      font-size: 1.8rem;
     }
     > p{
      margin: 12px 0px;
      }
    
    > h5{
      font-size: 1.5rem;
    }
  }
  }
 }